@import ./_variables

.container
    display: flex
    flex-direction: column
    text-transform: uppercase
    position: relative

    & > div
        width: 100%
        @media screen and ( min-width: $tablet )
            width: 50%


    @media screen and ( min-width: $tablet )
        min-height: 95vh
        flex-direction: row

    
        


.panel_left
    padding: 20px 0
    display: flex
    flex-direction: column
    justify-content: space-around
    color: $dark
    text-align: right
    background: #fff
    font-family: 'Rock Salt', cursive

.introduction_gretting
    width: 100%
    margin: 0 auto
    display: flex
    flex-direction: column
    align-items: center
    padding: 20px
    font-size: 1.5rem
    line-height: 70px
    max-width: 400px
    p:nth-child(1)
        text-align: left
    p:nth-child(2)
        text-align: right
    p:nth-child(3)
        text-align: left
    p:nth-child(4)
        font-size: 1.2rem
        text-align: right
    @media screen and ( min-width: 350px )
        font-size: 1.5rem
        p:nth-child(1)
       
        p:nth-child(2)
        
        p:nth-child(3)
           
        p:nth-child(4)
    @media screen and ( min-width: $phone-m )
        font-size: 1.8rem
        p:nth-child(1)
        p:nth-child(2)
        p:nth-child(3)
            font-size: 2.5rem
        p:nth-child(4)
            font-size: 1.8rem
    @media screen and ( min-width: 550px )
        font-size: 2rem
        p:nth-child(1)
        p:nth-child(2)
        p:nth-child(3)
            font-size: 2.8rem
        p:nth-child(4)
            font-size: 1.8rem
    @media screen and ( min-width: $tablet )
        line-height: 90px
        max-width: 600px
        font-size: 2rem
        p:nth-child(1)
        p:nth-child(2)
        p:nth-child(3)
            font-size: 2.3rem
        p:nth-child(4)
            font-size: 1.4rem

    @media screen and ( min-width: 700px )
        max-width: 600px
        font-size: 2.3rem
        p:nth-child(1)
        p:nth-child(2)
        p:nth-child(3)
            font-size: 2.7rem   
        p:nth-child(4)
            font-size: 1.6rem   
    @media screen and ( min-width: 1000px )
        max-width: 600px
        line-height: 100px
        font-size: 2.8rem
        p:nth-child(1)
        p:nth-child(2)
        p:nth-child(3)
            font-size: 4rem
        p:nth-child(4)
            font-size: 2.3rem
    @media screen and ( min-width: 1350px )
        max-width: 700px
        line-height: 120px
        font-size: 3.4rem
        p:nth-child(1)
        p:nth-child(2)
        p:nth-child(3)
            font-size: 5rem
        p:nth-child(4)
            font-size: 3.3rem

    p 
        width: 100%
        font-weight: bold


.left_bot_text
    text-align: center
    font-family: 'Roboto', sans-serif
    font-size: 0.8rem
    @media screen and ( min-width: $phone-m )
        font-size: 1rem

.panel_right
    display: flex
    flex-direction: column
    background: $dark-radial-bg
    color: #fff
    text-align: left
    text-transform: none
    font-family: 'Roboto', sans-serif
    font-size: .75rem
    padding: 20px 30px

.image_container
    padding: 20px 0
    display: flex
    justify-content: center

.image_box
    position: relative
    max-width: 150px
    @media screen and ( min-width: $tablet )
        max-width: 200px
    @media screen and ( min-width: $desktop )
        max-width: 250px
        img 
            width: 300px

.look
    width: 100%
    height: 15px
    position: absolute
    bottom: -5px
    right: -90px
    color: #fff
    font-family: 'Rock Salt', cursive
    transform: rotate(-4deg)

.profile_desc
    flex-grow: 1
    display: flex
    flex-direction: column
    justify-content: space-between
    color: #fff
    font-family: 'Roboto', sans-serif
    margin: 0 auto
    text-align: center
    
    p 
        font-size: .8rem
        margin: 10px auto
        line-height: 25px
        max-width: 500px
        @media screen and ( min-width: $tablet )
            font-size: .9rem
        @media screen and ( min-width: $desktop )
            margin: 20px auto
            line-height: 30px
            max-width: 600px
            font-size: 1.1rem
        
.profile_desc p.prhase
    font-weight: bold
    text-align: center
    letter-spacing: 4px
    font-size: 0.6rem
    font-family: 'Rock Salt', cursive
    @media screen and ( min-width: 650px )
        font-size: 0.7rem
    @media screen and ( min-width: 800px )
        font-size: .8rem
        